
.TEXT1{
    font-family:American Captain;
    font-size: 30px;
    width: 200px;
    line-height: 30px;
    margin-right: 200px;
}





.TELEGRAM { background-color: #0084ff;
color: aliceblue;
    border: none;
    height: 40px;
    width: 100px;
    border-radius: 20px;
    cursor: pointer;
    margin-right: 8px;
    font-weight: bold;
    
}
.TELEGRAM:hover{
background-color: #00aeff;
transition:background-color 0.5s;
box-shadow: 5px 5px 7px rgba(0 , 0, 0, 0.15);
transition: box-shadow 0.2s;
}
.TELEGRAM:active{
background-color: rgb(5, 90, 129);
}


    .INSTAGRAM{
        background-color: hwb(0 12% 0%);
        color: aliceblue;
        border: none;
        height: 40px;
        width: 100px;
        border-radius: 20px;
        cursor: pointer;
        margin-right: 8px;
        font-weight: bold;
    }
    .INSTAGRAM:hover{
        background-color: hwb(357 13% 5%);
        transition:background-color 0.8s;
        transition: box-shadow 0.2s;
        box-shadow: 5px 5px 7px rgba(0 , 0, 0, 0.15);
    }
    .INSTAGRAM:active{
        background-color: crimson;
    }


.YOUTUBE{
    background-color: hsl(0, 100%, 38%);
    color: aliceblue;
    border: none;
    border-radius: 20px;
    height: 40px;
    width: 100px;
    cursor: pointer;
    font-weight: bold;
    
}
.YOUTUBE:hover{
    background-color: hsl(357, 98%, 50%); 
    transition:background-color 1s;
    transition: box-shadow 0.2s;
    box-shadow: 5px 5px 7px rgba(0 , 0, 0, 0.15);
}
.YOUTUBE:active{
    opacity: 0.7;
}
.photo {
    height: 250px;
    margin-right: 8px;
    display: inline-block;
    
}
.photo2{
    height: 250px;
    display: block;
}
.qidirish{
    font-size: 25px;
    border-radius: 13px;
    display: block;
}
.text3{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
}
